.infoFra {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}
.infoFrame {
  width: 65%;
  display: flex;
  // justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
  flex-direction: row;
}
.infoFrame2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll;
  flex-direction: column;
}
.fundSize {
  min-width: 5%;
  height: 50%;
  margin: 20px;
}
.imgFa {
  width: 100%;
  height: 180px;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
.fundImage {
  height: 100%;
  border-radius: 7px;
}
.fundH1 {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 19px;
  padding: 2px;
  padding-top: 0;
  margin: 3px;
  margin-top: 10px;
}
.fundP {
  font-size: 18px;
  margin-top: 5px;
  padding: 4px;
  font-weight: 700;
  color: red;
}
