.ImageChangeFrame {
  margin-top: 50px;
  margin-bottom: 40px;
  height: 43vh;
  width: 63%;
  border-radius: 8px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}
.ChaImg {
  width: 100%;
}
