.wfra {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wriFra {
  width: 60%;
  //   border: 1px solid black;
}
.fff {
  margin-top: 70px;
}
.wriTitle {
  font-size: 22px;
}
.wriDes {
  font-size: 15px;
}
.wriInput {
  width: 90%;
  height: 45px;
  border: 1px solid #7d7d7d;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  padding-left: 10px;
}
.wriSpan {
  margin-left: 15px;
}
